@model Wherenite.Models.VenueType

@{
    ViewBag.Title = "Create";
}

<h2>Креирај нов тип на простор</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control transparentBelo" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 10px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Креирај" class="btn btn-light" />
            </div>
        </div>
    </div>
    }

<p style="display: flex; justify-content: center; margin-bottom: 50px; margin-top: 50px">
    @Html.ActionLink(" < Назад", "Index", "VenueTypes", null, new { @class = "btn btn-dark btn-lg" })
</p>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
