@model IEnumerable<Wherenite.Models.VenueType>

@{
    ViewBag.Title = "Index";
}

<h2 class="belo">Типови на простор</h2>

<p class="belo">
    @Html.ActionLink("Додади тип на простор", "Create", null, new { @class = "btn btn-outline-secondary" })
</p>
<table class="table belo" style="font-size: larger">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Промени", "Edit", new { id=item.Id }, new {@class = "btn btn-secondary"}) |
            @Html.ActionLink("Избриши", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
